.nowrap, b {
    white-space: nowrap;
}

.tooltip {
    cursor: pointer;
}

.card {
    width: calc(250px * 1.1);
    min-height: calc(350px * 1.1);

    border: 2px solid black;
    border-radius: .5rem;
    margin: .5rem;
    padding: .5rem;

    background-color: #C3B498;

    display: grid;
    grid-template-rows: auto 1fr auto auto auto;
    position: relative;

    &--reward {
        grid-template-rows: auto 1fr auto;
    }
    &--favour {
        grid-template-rows: auto 1fr;
    }
    &--work-order {
        grid-template-rows: auto auto 1fr;
    }

    &__notes {
        &__container {
            height: 200px;
            background-color: white;
            border: 1px solid black;
            padding: .25rem .5rem;
            text-align: center;
            border-radius: .25rem;
        }
    }

    &__image {
        overflow: hidden;
        max-width: 100%;
        position: relative;
        top: -50px;

        &__container {
            // width: 100%;
            // height: 100%;
            border: 1px solid black;
            border-radius: .25rem;
            overflow: hidden;
            height: 200px;

            &--overlay {
                border: none;
                border-radius: .25rem;
                display: block;
                z-index: 1;
                overflow: hidden;
                position: absolute;
                top: 0px;
                width: 100%;
                height: 100%;

                .card__image {
                    position: initial;
                }
                // border-radius: .5rem;
                // background-position-y: bottom-center;
            }
        }
    }

    &__name {
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: .5rem;
        z-index: 2;
        background-color: #E8E3D8;
        border: 2px solid black;
        border-radius: .25rem;
    }

    &__cost {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        position: relative;
        // width: 1.25rem;
        height: 1.5rem;
        font-size: 1rem;
        font-weight: bolder;
        align-self: flex-end;

        &--faded {
            opacity: 0.2;
        }

        &__container {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            position: relative;
            background-color: #E8E3D8;
            z-index: 2;
            padding: .25rem .125rem;
            justify-self: flex-end;
            // width: 50%;
            width: calc(50% - 10px);

            border: 1px solid black;
            border-radius: .25rem;
            margin-left: auto;
        }
    }

    &__special {
        width: auto;
        font-size: 1rem;
        font-weight: bolder;
        position: relative;
        background-color: #E8E3D8;
        z-index: 2;
        // width: 50%;
        // width: calc(50% - 10px);
        height: 1.5rem;
        border: 1px solid black;
        border-radius: .25rem;
        padding: .25rem .5rem;

        &__container {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }

    &__description {
        &__container {
            margin-top: .25rem;
            border: 1px solid black;
            background-color: #E8E3D8;
            border-radius: .5rem;
            text-align: center;
            font-size: 0.75rem;
            font-weight: 500;
            z-index: 2;

            height: 115px;

            // max-height: 50%;

            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: flex-end;
        }

        &__block {
            padding: .5rem .25rem;
            border-bottom: 2px dotted black;
            height: auto;
            flex-grow: 1;
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;
            width: calc(100% - 1rem);

            &--solo {
                grid-template-columns: 1fr;
            }
            &--work-order {
                grid-template-columns: 1fr;
            }

            &--special {
                font-weight: bolder;
                grid-template-columns: 1fr;
                flex-grow: 0;
            }

            &--sunlight {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: left;
            }

            &:last-of-type {
                border-bottom: none;
            }
        }

        &__inline-cost {
            width: 100%;
            display: flex;
            align-items: center;
        }

        &__icon {
            font-size: 1.5rem;
            margin-right: .25rem;
        }

        &__text {
            display: flex;
            justify-content: center;
            align-items: center;
            word-break: keep-all;
        }

        &__sunlight {
            width: calc(100% - 1rem);
            padding: 0.25rem;
            display: grid;
            grid-template-columns: 50px auto;
        }
    }

    &__energy {
        font-size: 1.75rem;
        font-weight: bolder;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__footer {
        margin-top: .5rem;
        width: 100%;
        height: auto;
        z-index: 2;

        display: grid;
        gap: .125rem;
        grid-template-columns: 60px 1fr 60px;
        justify-content: space-between;
        align-items: center;

        font-size: 1.75rem;
        font-weight: bolder;

        &__left {
            align-self: flex-start;
            flex-grow: 1;
        }
        &__middle {
            width: auto;
            flex-grow: 0;
        }
        &__right {
            align-self: flex-end;
            flex-grow: 1;
            width: auto;
        }

        &__flavour {
            font-size: 10px;
            font-weight: normal;
            font-style: italic;
            color: white;
            text-shadow: 1px 1px black;
            text-align: center;
        }

        
    }
}