.stats {
    width: calc(100% - 1rem);
    border: 1px solid black;
    // background-color: lightgray;
    border-radius: .5rem;

    &__graph {
        padding: .25rem;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
        // border-bottom: 1px dotted black;

        &__title {
            font-size: 1.25rem;
            text-align: center;
            font-weight: bold;
            margin-bottom: .5rem;
        }
    }
}