.shop {
  margin: auto;
  /* max-width: 500px; */
}

.shop-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4px;
}

.shop-orders {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 4px;
  background-color: lightgray;
  padding: 16px;
  padding-bottom: 32px;
}

.navbar {
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.container {
  padding: 16px;
  display: grid;
  grid-template-columns: 70% 30%;
}

.cards {
  margin: auto;
  text-align: center;
  max-width: 80vw;
}

.card-list {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.cost-filters {
  display: flex;
  flex-flow: wrap;
}

.cost-filter {
  font-weight: 700;
  font-size: 24px;
  margin: 0 4px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: lightslategrey;
  cursor: pointer;
  margin-bottom: 12px;
}

.cost-filter--carrot.cost-filter--selected {
  background-color: orange;
}
.cost-filter--apple.cost-filter--selected {
  background-color: crimson;
}
.cost-filter--berry.cost-filter--selected {
  background-color: violet;
}

.button {
  background-color: lightblue;
  color: black;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  line-height: 1.6;
  cursor: pointer;
  margin: 4px 8px;
  padding: 4px 8px;
  text-decoration: none;
}

.button__big {
  margin-top: 8px;
  display: block;
  font-size: 32px;
}

.card {
  /* height: 300px; */
  border-radius: 4px;;
  margin: 8px 8px;
  /* height: 400px; */
  width: 300px;
  border: 3px solid pink;
  box-shadow: 1px 1px solid black;
}

.card-name {
  position: relative;
  top: 0;
  text-align: center;
  width: fit-content;
  margin: auto;
  color: black;
  font-size: 30px;
  /* -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black; */
  margin-bottom: 8px;
}

.card-cost {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-cost__item {
  width: 16px;
  height: 16px;
  margin: 8px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 8px;
  border-radius: 50%;
  font-weight: 700;
  font-size: 20px;
}

.card-cost__carrot {
  background-color: orange;
}
.card-cost__berries {
  background-color: mediumpurple;
}
.card-cost__any {
  background-color: grey;
}
.card-cost__apple {
  background-color: lightcoral;
}

.card-description {
  width: 250px;
  padding: 4px 8px;
  position: relative;
  top: 0;
  text-align: center;
  margin: auto;
  color: black;
  font-size: 16px;
  /* -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black; */
  margin: 8px auto;
  border: 2px solid black;
  border-radius: 4px;
  background-color: burlywood;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image {
  max-height: 100%;
  max-width: 100%;
  width: 250px;
  margin: auto;
  display: flex;
  overflow: hidden;
  object-fit: contain;
  border: 2px solid black;
  border-radius: 4px;
}

.card-footer {
  padding: 4px 8px;
  width: 250px;
  margin: 8px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-type {
  font-size: 24px;
  font-weight: 700;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid black;
  background-color: burlywood;
}

.card-durability {
  margin-left: auto;
  width: fit-content;
  font-size: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.card-durability__icon {
  margin-left: 4px;
  height: 30px;
}

.work-order {
  /* height: 300px; */
  border-radius: 4px;
  ;
  margin: 8px 8px;
  /* height: 400px; */
  width: 300px;
  border: 3px solid brown;
  box-shadow: 1px 1px solid black;
}

.filters {
  display: flex;
  margin-bottom: 8px;
}

.card-type-filters {
  display: flex;

}
select {
  width: 100px;
  text-align: center;
  font-size: 20px;
}

.card-type-filter {
  margin-left: 20px;
  font-size: 32px;
}

.radio {
  margin: 4px;
  width: 20px;
  height: 20px;
}

.costFreqChart {
  margin-left: 25px;
}